@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 






@font-face {
  font-family: 'dana';
  src: url(./DanaFaNum-Medium.woff2) format('woff2'),
    url(./DanaFaNum-Medium.woff) format('woff'),

    url(./LuckiestGuy.otf) format('otf');

}



.pokemon-box{
  font-family: 'dana';
  font-size: 15px !important;
  background-color: rgb(83, 83, 85) !important;
  width:300px !important;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  color: rgb(180, 180, 180) !important;
 padding-top: 40px;
text-decoration: none !important;
margin-top: 100px;
  width: 346.51px;
height: 560px;
top: 543px !important;
left: -1330px;
text-decoration-color: transparent!important;
}
p{
 
  text-decoration: none!important;
  text-decoration-color: transparent!important;
}

.pokemon-link{
  font-family: 'dana';
  font-size: 15px !important;
  background-color: transparent!important;
  width:500px !important;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
  left: 0px;
  display: flex!important;
  justify-content: center;
  align-items: center;
position: absolute;
  color: rgb(243, 235, 235);
  text-align: center!important;
 direction: rtl;
border-radius:10px;
cursor: pointer;
height: 30px;
border: none!important;
font-weight: 400;
top: 443px;
}
.pokemon-header{
  font-family: 'dana';
  font-size: 15px !important;
  background-color: transparent!important;
  width:300px !important;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
  left: 0px;
  display: flex!important;
  justify-content: center;
  align-items: center;
position:relative;
  color: rgb(243, 235, 235);
  text-align: center!important;
 direction: rtl;
border-radius:10px;
cursor: pointer;
height: 30px;
border: none!important;
font-weight: 400;
top:50px;
}

select{
  font-family: 'dana';
  font-size: 15px !important;
  background-color: rgb(252, 252, 252) !important;
  width:300px !important;
  margin-right: auto;
  margin-left: auto;
  right: 0px;
  left: 0px;
  display: flex!important;
  justify-content: center;
  align-items: center;
position: absolute;
  color: rgb(58, 58, 58);
  text-align: center!important;
 direction: rtl;
border-radius:10px;
cursor: pointer;
height: 30px;
border: none!important;

top: 243px;


}